{% extends 'base.html.twig' %}

{% block body %}
  <article class="grid-container">
  <br>
  <h1>Carrito</h1>
    {% for producto in productos %}
      <div class="grid-x align-center callout">
      <div class="cell medium-8">
      <div class="blog-post">
      <h3>{{producto.name}}<!-- <small>3/6/2016</small> --></h3>
      <img class="thumbnail" src="https://placehold.it/850x350">
      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
      <div class="callout">
      <ul class="menu simple">
      <li><a href="#">Precio: ${{producto.price}}</a></li>
      <!-- <li><a href="#">Comments: 3</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      </div>
  {% endfor %}
</article>
<a href="#" class="button expanded">Proceed to Checkout</a>
{% endblock %}